@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
body{
  background-color: #a1655ff5;
}

.bodygrid-globalcontainer{
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)),
  url(../Images/bodygrid-background.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.bodygrid-globalcontainer h1{
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  color: #ffffff;
 
  width: 100%;
  font-family: 'Ballet', cursive;
  word-spacing: 12px;
}

h3{
  color: #ffffff;
  font-weight: bold;
}
#list1{
  padding-bottom: 10px;
  border-bottom: solid 2px #b9b0b0;

}

#list2{
  padding-top: 10px;

}

.product-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
    "filters products";
  grid-gap: 20px;
  width: 100%;
  color: #ffffff;
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)),
  url(../Images/bodygrid-background.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;

}

.filters {
  display: flex;
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}



.filter-box {
  border: 1px solid #ffffff;
  padding: 10px;
}

.product-grid {
  grid-area: products;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 80%;
}

.product-item {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 5px;
}

.product-item img {
  max-width: 100%;
  height: 20rem;
  margin-bottom: 10px;
}


.product-item button {
  background-color:#580f0e;
  color: #ffffff;
  border: #ccc;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}


/*Nav*/



 .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 4px;
  background-color: #580f0e;
}  




/* ssk */


