*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD9D1;
}

footer{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#027373;
}



.footer-social-media{
  text-align: center;
}

.footer-social-media img{
  width: 4%;
  padding-top: 4px;
}

.footer-lista-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;

}
.footer-lista-horizontal img{
  width: 7%;
  margin: 0px 2px;
}