body{
  background-color: rgb(69,84,58);
}
footer{
  background-color: rgb(69,84,58);
  height: 100%;
}

.footer-social-media{
  text-align: center;
}

.footer-social-media img{
  width: 2%;
  padding-top: 4px;
}

.footer-lista-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;


}
.footer-lista-horizontal img{
  width: 3%;
  margin: auto;
} 