#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* min-height: 100vh;
    max-width: 1280px; */
    margin: 0px;
    padding: 0rem;
    text-align: initial;
    height: 100%;
    width: 100%;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  
  /* here is what is new */
  
  /* Navbar.module.css */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #; */
    background:rgba(0,0,0,.1);
    backdrop-filter: blur(15px);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
  }
  
  .navbar-logo img {
    width: 50px;
    height: auto;
  }
  
  .navbar-logo,.navbar-cart-button:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .navbar-search {
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .navbar-search form {
    display: flex;
    align-items: center;
    border: 0.5px solid #524f4f;
    border-radius: 20px;
    padding: 5px;
  }
  
  .navbar-search input[type="text"] {
    flex-grow: 1;
    border-radius: 15px;
    padding: 12px;
  }
  
  .navbar-search button[type="submit"] {
    background-color: transparent;
    color: #888;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .navbar-menu-button {
    background-color: transparent;
    /* border: none; */
    color: #333;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20%;
  }
  
  .navbar-menu-button2 {
    background-color: transparent;
    /* border: none; */
    color: #333;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20%;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(33,33,33,0.86666666666666667);
    backdrop-filter: blur(10px);
    color: #8d8989;
    border-radius: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: auto;
    padding: 0.25rem 0;
  }
  
  .dropdown-menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(33,33,33,0.86666666666666667);
    backdrop-filter: blur(10px);
    color: #8d8989;
    border-radius: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: auto;
    padding: 0.25rem 0;
  }
  
  .btncar {
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 45px;
    margin-top: 45px;
  }
  
  .navbar-cart-button {
    background-color: transparent;
    border: none;
    /* color: #333; */
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2%;
  }
  
  .brandimg {
    width: 1795px;
    height: 500px;
  }
  
  .popup {
    position: fixed;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-popup {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .title-popup {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .img-popup {
    width: 100px;
    height: 100px;
  }
  
  .popup-content {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    grid-gap: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .link-drop {
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }
  
  .logo-profile {
    width: 33px;
    height: 33px;
  }
  
  .profile-img {
    margin-left: 7px;
  }
  
  /* this section will be to style the login */
  
  .popup-container2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
  }
  
  .popup-content2 {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content2 h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input,
  .register-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button-container2 {
    display: flex;
    justify-content: center;
  }
  
  .button-container2 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .divider {
    text-align: center;
    margin: 20px 0;
  }
  
  .divider span {
    display: inline-block;
    padding: 0 10px;
    color: #cccccc17;
  }
  
  .error-message {
    color: red;
    display: flex;
    justify-content: center;
  }
  